.navIcon {
  padding: 20px;
  color: white;
}
.sideNav {
  height: 100vh;
}
.add {
  display: flex;
  padding-left: 70px;
}
.navLinks {
  color: #000;
}

.searchBox p {
  border: 1px solid grey;
  padding-right: 150px;
  border-radius: 20px;
  padding-bottom: 6px;
  padding-top: 5px;
  padding-left: 5px;
}
.addContact p {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 7px;
  background-color: rgb(235, 131, 149);
}
.rightNav i {
  color: #000;
}
.topNav {
  border-bottom: 1px solid grey;
}
.contactIcon {
  font-size: 30px;
  color: rgb(235, 131, 149);
}